<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/disTemplete.xhtml">

            <ui:define name="main">
                <f:view>


                    <h:form>
                        <h1><h:outputText value="List"/></h1>
                        <h:dataTable value="#{usuarioBean.listUsers()}" var="item">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Nombres"/>
                                </f:facet>
                                <h:outputText value="#{item.nombres}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Apellidos"/>
                                </f:facet>
                                <h:outputText value="#{item.apellidos}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Usuario"/>
                                </f:facet>
                                <h:outputText value="#{item.usuario}"/>
                            </h:column>
                            <h:column rendered="#{sessionBean.deniedRol(2)}">
                                <f:facet name="header">
                                    <h:outputText value="IdRol"/>
                                </f:facet>
                                <h:outputText value="#{item.idRol.nombreRol}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="IdEstado"/>
                                </f:facet>
                                <h:outputText value="#{item.idEstado.nombreEstado}"/>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </f:view>

            </ui:define>

        </ui:composition>

    </body>
</html>
