<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./../../WEB-INF/templates/disTemplete.xhtml">

            <ui:define name="main">
                <h:panelGrid columns="1" rendered="#{sessionBean.deniedRol(1)}">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="jumbotron">
                                    <h2>
                                        Hello, world!
                                    </h2>
                                    <p>
                                        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary btn-large" href="#">Learn more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:panelGrid>
            </ui:define>

        </ui:composition>

    </body>
</html>
