<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <h:outputStylesheet name="css/bootstrap.css"/>
        <h:outputStylesheet name="css/font-awesome.css"/>
        <h:outputStylesheet name="css/style.css"/>
        <title>Distribuidora</title>
    </h:head>

    <h:body>

        <header id="header" class="container-fluid">
            <ui:insert name="header">
                <div class="navbar navbar-inverse set-radius-zero" >
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h:form>
                                <h2><h:outputText value="#{sessionBean.usuario.nombres} #{sessionBean.usuario.apellidos}" /></h2>
                            </h:form>
                        </div>

                        <div class="right-div">
                            <h:form class="right-div">
                                <h:commandLink class="btn btn-danger pull-right" action="#{sessionBean.cerrarSesion()}" value="Cerrar Sesión"/>
                            </h:form>
                        </div>
                    </div>
                </div>
                <!-- LOGO HEADER END-->
                <section class="menu-section">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="navbar-collapse collapse ">
                                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                                        <li><h:link value="Inicio" outcome="/seguridad/usuario"/></li>
                                        <ui:repeat value="#{sessionBean.permisos}" var="permiso">
                                            <li><h:link value="#{permiso.nombrePermiso}" outcome="#{permiso.url}"/></li>
                                        </ui:repeat>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </ui:insert>
        </header>
        <main id="main">
            <ui:insert name="main">
            </ui:insert>
        </main>


    </h:body>

</html>
