<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Inicio Sesión</title>
        <f:event type="preRenderView" listener="#{usuarioBean.existeUsuario()}"/>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel for="usuario" value="Nombre usuario"/>
            <h:inputText id="usuario" value="#{usuarioBean.usuario.usuario}"/>
            <h:outputLabel for="clave" value="Contraseña"/>
            <h:inputText pt:type="password" id="clave" value="#{usuarioBean.usuario.clave}"/>
            <h:commandButton value="ingresar" action="#{usuarioBean.iniciarSesion()}"/>
        </h:form>
    </h:body>
</html>

